<ion-row class="toolbar">
  <ion-row class="toolbar-height ion-justify-content-between ion-align-items-center">
    <ion-img routerLink="../" class="logo-img" src="../../assets/logotip svg-05.svg"></ion-img>
    <ion-img class="menu-img" id="menu3" src="../../../assets/hamburger drop down svg-12.svg"></ion-img>
    <ion-popover trigger="menu3" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-img routerLink="../daily-quote" class="menu-item" src="../../../assets/citat piktogram svg-23.svg"></ion-img>
          <ion-img routerLink="../your-journal" class="menu-item" src="../../../assets/dnevik-piktogram svg-25.svg"></ion-img>
          <ion-img routerLink="../memento-mori" class="menu-item" src="../../../assets/kalendar-piktogram-24.svg"></ion-img>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-row>
  <ion-row class="w-50">
    <span class="line-orange"></span><span class="line-black"></span><span class="line-white"></span>
  </ion-row>
</ion-row>

<ion-content>
  <div *ngIf="mementoMori" class="p-30 squares-container">
    <span class="orange" *ngFor="let square of orangeSquares">
      
    </span>
    <span class="square" *ngFor="let square of squares">
      
    </span>
  </div>
  <ion-row>
    <ion-img id="memento-trigger" class="info-btn" src="../../../../assets/info dugme svg-11.svg">
    </ion-img>
    <ion-modal
      trigger="memento-trigger"
      [breakpoints]="[0, 0.4, 0.99]"
      [initialBreakpoint]="0.4"
      [handle]="false"
    >
      <ng-template>
        <ion-content>
          <div class="modal-exp">
            <ion-text class="modal-header font-at">
              Memento-mori calendar:
            </ion-text>
            <ion-text class="font-br font-x-large">
              Translated from the Latin for "remember death" is a powerful concept that has long been used by people to give more meaning to events in their lives. The calendar is an interactive tool that contains ~4000 squares representing 4000 weeks in the life of 80 years. For people suffering from depression and anxiety disorders, thinking about death can sound scary and counterproductive, but this takes place on a curated platform presented by empiriyou, and users will always have access to context and guidelines on how to properly view the concept "remember death''. The ritual of filling in one square every week prompts reflection and action, develops presence and potentially teaches the user to appreciate everyday moments.
            </ion-text>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button (click)="saveMementoMori()" [disabled]="getDateCondition()" class="journal-btn font-at" shape="round" size="small">
      memento mori
    </ion-button>
  </ion-row>
</ion-content>
