<ion-row class="toolbar">
  <ion-row class="toolbar-height ion-justify-content-between ion-align-items-center">
    <ion-img routerLink="../" class="logo-img" src="../../assets/logotip svg-05.svg"></ion-img>
    <ion-img class="menu-img" id="menu2" src="../../../assets/hamburger drop down svg-12.svg"></ion-img>
    <ion-popover trigger="menu2" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-img routerLink="../daily-quote" class="menu-item" src="../../../assets/citat piktogram svg-23.svg"></ion-img>
          <ion-img routerLink="../your-journal" class="menu-item" src="../../../assets/dnevik-piktogram svg-25.svg"></ion-img>
          <ion-img routerLink="../memento-mori" class="menu-item" src="../../../assets/kalendar-piktogram-24.svg"></ion-img>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-row>
  <ion-row class="w-50">
    <span class="line-orange"></span><span class="line-black"></span><span class="line-white"></span>
  </ion-row>
</ion-row>
<ion-content *ngIf="journals">
  <ion-row class="container">
    <ion-row class="journal" *ngFor="let journal of journals; let i = index"
    [class.border-top]="!(i == 0 || ( i > 0 && getYear(journal) > getYear(journals[i - 1])))">
      <ion-row class="year font-at font-large" *ngIf="i == 0 || ( i > 0 && getYear(journal) > getYear(journals[i - 1]))">
        {{getYear(journal)}}
      </ion-row>
      <ion-row class="font-bb">
        {{journal.date | date:"MMMM dd"}}th
      </ion-row>
      <ion-row class="font-br journal-text">
        {{journal.text}}
      </ion-row>
    </ion-row>
  </ion-row>
  <ion-row>
    <ion-img id="journal-trigger" class="info-btn" src="../../../assets/info dugme svg-11.svg">
    </ion-img>
    <ion-modal
      trigger="journal-trigger"
      [breakpoints]="[0, 0.4, 0.99]"
      [initialBreakpoint]="0.4"
      [handle]="false"
    >
      <ng-template>
        <ion-content>
          <div class="modal-exp">
            <ion-text class="modal-header font-at">
              about journaling:
            </ion-text>
            <ion-text class="font-br font-x-large">
              This is a kind of minimalist approach to journaling, which also coincides with the Stoic principle of speaking only when what is said makes sense and contributes to the conversation. The user is encouraged to distill their thoughts to the essence. The skill of articulating thoughts is cultivated. Journaling has been proven to help with mental health, so it's become a key part of the app itself. In addition to the privacy and security of keeping a diary on your phone, the diary becomes a part of the printed material of empiriyou as a brand. Journaling changes the way we perceive emotions.
            </ion-text>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button routerLink="today-journal" class="journal-btn font-at" shape="round" size="small">
      Write today down
    </ion-button>
  </ion-row>
</ion-content>
