.journal{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  
  width: 100%;
}

.journal-text{
  max-height: 35px;
  overflow: hidden;
}

.container{
  padding: 30px !important;
  max-height: calc(100% - 80px);
  overflow: auto;
}

.modal-exp{
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100%;
  background-image: url(../../../assets/meni_pozadina-32.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.modal-header{
  margin-bottom: 20px;
  font-size: x-large;
}

.info-btn{
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin-bottom: 15px;
  margin-left: 15px;
}

.journal-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 28px;
  margin-right: 28px;
  color: white;
  height: 30px;
}

.year{
  margin-bottom: 15px;
  width: 100%;
  background-image: url(../../../assets/GODINA-01.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  border: #2e3429 solid 1px;
}

.border-top{
  border-top: solid 1px #2e3429;
  padding-top: 10px;
}

