<ion-header>
  <ion-toolbar>
    <ion-icon name="earth-outline" slot="start" style="padding-left: 10px"></ion-icon>
    <ion-title>empiriu</ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="your-journal-text-div">
    <ion-title>
      Today's journal: {{ viewDate | date: 'dd.MM.yyyy.' }}
    </ion-title>
    <ion-textarea class="your-journal-textarea" (ionChange)="getTextLength()" auto-grow="true" maxlength="800">

    </ion-textarea>
    <div class="your-journal-text-length-div">
      <ion-text slot="end" >
        {{length}}/450
      </ion-text>
    </div>
    <div class="your-journal-button-div">
      <ion-button (click)="openPicker()" shape="round" size="small">
        All journals
      </ion-button>
    </div>
  </div>
</ion-content>
