<ion-header>
  <ion-toolbar>
    <ion-icon name="earth-outline" slot="start" style="padding-left: 10px"></ion-icon>
    <ion-title>
      empiriu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-form-div">
    <h2>Welcome!</h2>
    <form [formGroup]="formGroup" (ngSubmit)="login()" class="login-form">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
