.daily-quote-div{
  margin-top: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.text{
  max-height: 45vh;
  overflow: auto;
}

.daily-quote-author{
  margin-top: 15px;
}

.daily-quote-context-icon{
  padding-top: 15px;
}

.daily-quote-image-div{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
}

.daily-quote-avatar{
  width: 27em;
  height: 27em;
  margin-right: -90px;
  margin-bottom: -50px;
}

.info-btn{
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin-bottom: 15px;
  margin-left: 15px;
}

.modal-about-book{
  font: italic bold small Georgia, serif;
  margin: 5% 0 5% 0;
}

.modal-about-text{
  padding-bottom: 5%;
}

.modal-exp{
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100%;
  background-image: url(../../../assets/meni_pozadina-32.svg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.modal-header{
  margin-bottom: 20px;
  font-size: x-large;
}

.line{
  margin: 30px 0 30px 0;
}







