<ion-header>
  <ion-toolbar>
    <ion-icon name="earth-outline" slot="start" style="padding-left: 10px"></ion-icon>
    <ion-title>
      empiriu
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    Lorem ipsum asdasasfasfasfasfasdfasoaisjdaosidjoasdjaosdjaiosdjioasjdioajdio asjdoi asodj aosij oiajsdiojaios jdoiajs ojasi
  </ion-text>
  <ion-text>
    Neki Filozof
  </ion-text>
</ion-content>
