.container{
    padding: 30px !important;
}

.textarea-container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.textarea{
    margin-top: 16px;
}

ion-textarea.textarea {
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
}

.modal-exp{
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 40%;
    margin-bottom: 5%;
    background-image: url(../../../../assets/meni_pozadina-32.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-header{
    margin-bottom: 20px;
    font-size: x-large;
}

.info-btn{
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin-bottom: 15px;
    margin-left: 15px;
}

.journal-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 28px;
    margin-right: 28px;
    color: white;
    height: 30px;
}