<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="earth-outline" slot="start" style="padding-left: 10px"></ion-icon>
    <ion-title (click)="homePage()">
      empiriu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-text class="home-text">
        Chose your activity for today.
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center home-button">
      <ion-button color="warning" size="large" routerLink="daily-quote">
        <ion-icon name="library-outline"></ion-icon>
      </ion-button>
      <ion-text>Daily Quote</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center home-button">
      <ion-button color="success" size="large" routerLink="your-journal">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-text>Your Journal</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center home-button">
      <ion-button size="large" routerLink="memento-mori">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-text>Memento-mori Calendar</ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
